.quiz__header{
    display:flex;
    align-items:center;
    gap:1rem;
    padding-left:2rem;
    color:#777777;
}

.quiz__header-info{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}

.quiz_title-phone{
    display:none;
}

.quiz__go__back-icon :hover{
    color: var(--color-text-primary-hover);

}

@media (max-width: 48em) {
    .quiz__header{
        padding:0.5rem 1rem;
    }
    .quiz_title{
        /* font-size:1rem; */
        display:none;

    }
    .quiz_title-phone{
        display:block;
    }

    .quiz_title-prefix {
        display: none; 
    }
}