.dashboard__empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__title{
  margin : 0;
  padding: 2rem 2rem 0 2rem;
}

.dashboard__empty p {
  color: #777777;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 1.5rem 0;
}

.dashboard__error{
  padding-top : 2rem ;
  color : #777777;
  display : flex;
  justify-content : center ;
}

.dashboard {
  height: 100vh;
  overflow-y: hidden !important;
}

.dashboardnavbar,
.dashboard__graph {
  overflow-y: hidden !important;
}
