.dashboard__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 180px; */
}

.dashboard__title{
  margin : 0;
  padding: 2rem;
}

.dashboard__empty p {
  color: #777777;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 1.5rem 0;
}

.dashboard__error{
  color : #777777;
  display : flex;
  justify-content : center ;
}