.correction__header {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;

}

.correction__title {
    font-weight: 500;
    margin: 0;
    color:var(--color-text-primary);
}

.correction__detail__title{
    font-weight:500;
    color:var(--color-text-primary);
    padding-left:2rem;
}

.correction__path {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-primary);
}

.correction__path svg {
    font-size: 1.2rem;
}

.correction__title--first-letter {
    color: #1CB0F6;
}

.correction__path :hover {
    color:#1CB0F6;
}

.correction__content {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    padding-bottom: 5rem; 
}

.correction__question {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1e293b;
}

.correction__choices {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem; 
    justify-content: space-between; 
}

.correction__choice {
    flex: 1 1 calc(25% - 1rem); 
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #1e293b; 
    box-sizing: border-box; 
}

.correction__choice.correct {
    border-color: #28a745;
    background-color: #d4edda;
}

.correction__explanation {
    margin-top: 1.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #1e293b; 
}

cbtn {
    padding: 0.5rem 1rem;
    margin: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    width: 200px; 
    text-align: center;
}

cbtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.correction__navigation {
    position: fixed;
    bottom: 5rem;  
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    z-index: 999;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.correction__navigation cbtn {
    width: 110px;
    height: 2.5rem;
    font-size: 0.8rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin: 0;
}

.correction__nav-text {
    display: inline-block;
    white-space: nowrap;
}



@media (max-width: 48em) {
   
}