.subjects-list__header {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.subjects-list__title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    color: #777777;
}

.subjects-list__path {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #777777;
}

.subjects-list__path svg {
    font-size: 1.2rem;
}

.subjects-list__title--first-letter {
    color: #1CB0F6;
}

.subjects-list__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 50rem;
    margin: 0 auto;
}

.subjects-list-item {
    width: 14rem;
    height: 3.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.6px solid #1CB0F6;
    color: #777777;
    box-sizing: border-box;
    flex: 0 0 auto;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0.2rem;

}


.subjects-list__type{
    display: flex;
    justify-content:center;
    gap:1rem;
    color: #777777;
}
.subjects-list__type--quiz,.subjects-list__type--corr{
    border: 1.6px solid #1CB0F6;
    border-radius: 99rem;
    width: 14rem;
    height: 3.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.subjects-list__type--quiz:hover, .subjects-list__type--corr:hover {
    border: 1.6px solid #21D375;
}