.quiz__mode-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__mode-title {
  font-size: 2rem;
  color: #777777;
  margin-top: 0;
  margin-bottom: 0;
}

.quiz__mode-subtitle {
  font-size: 1.5rem;
  color: #777777;
}

.quiz__mode-list {
  font-size: 1.5rem;
}

.quiz__mode-list li {
  margin-bottom: 0.5rem;
}

.quiz__mode-select {
  max-width: 56.25rem;
  width: 95%;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem #0002;
  padding: 1.5rem;
  position: relative;
}

.quiz__mode-select h2 {
  text-align: center;
}

.quiz__mode-options {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  margin: 2rem 0 1.5rem 0;
  height: 18.75rem;
  width: 56.25rem;
}

.quiz__mode-option {
  flex: 1;
  border: 0.125rem solid #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #fafbfc;
  transition: border 0.2s, background 0.2s;
  cursor: pointer;
}

.quiz__mode-option.active {
  border: 0.125rem solid #1976d2;
  background: #e3f0fc;
}

.quiz__mode-option label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.quiz__mode-option input[type="radio"] {
  margin-right: 0.5rem;
}

.quiz__mode-option ul {
  margin-left: 1.5rem;
  margin-top: 0.75rem;
  color: #777777;
}

.quiz__mode-submit-btn {
  width: 100%;
  padding: 0.75rem 0;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 540;
}

.quiz__mode-submit-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.quiz__mode-submit-btn:not(:disabled):hover {
  background: #145a9e;
}

@media (max-width: 48em) {
  .quiz__mode-select {
    max-width: 90%;
    width: 100%;
    padding: 0.75rem;
  }

  .quiz__mode-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .quiz__mode-subtitle {
  font-size: 1.1rem;
}


  .quiz__mode-options {
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
    height: auto;
    width: 100%;
  }

  .quiz__mode-option {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .quiz__mode-option ul {
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  .quiz__mode-submit-btn {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
}
