html, body {
    overflow-y: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;

}

/* Remove default link styling */
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/* For React Router Links */
.link, .link:link, .link:visited, .link:hover, .link:active {
    text-decoration: none;
    color: inherit;
}



