:root {
    --hover-background-normal: #f0f0f0;
    --hover-color-normal: #5f5f5f;
    --color-text-primary: #777777;
}   

html, body {
    overflow-y: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    height:100vh;

    overflow-x: hidden;
    

}

/* Remove default link styling */
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/* For React Router Links */
.link, .link:link, .link:visited, .link:hover, .link:active {
    text-decoration: none;
    color: inherit;
}





