:root {
    --blue-color:#1CB0F6;
    --hover-background-normal: #f0f0f0;
    --hover-color-normal: #5f5f5f;
    --color-text-primary: #777777;
    --color-descption:#999999;
    /* --color-text-primary-hover: #575757; */

}   

html, body {
    /* Remove these lines to avoid double scrollbars and layout bugs */
    /* height: auto; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

/* Remove default link styling */
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/* For React Router Links */
.link, .link:link, .link:visited, .link:hover, .link:active {
    text-decoration: none;
    color: inherit;
}





