.browse-list__header {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.browse-list__title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    color: var(--color-text-primary);
}

.browse-list__path {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-primary);
}

.browse-list__path :hover {
    color:#1CB0F6;
}
.browse-list__path svg {
    font-size: 1.2rem;
}

.browse-list__title--first-letter {
    color: #1CB0F6;
}

.browse-list__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 50rem;
    margin: 0 auto;
}

.browse-list-item {
    width: 8.125rem;
    height: 3.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.6px solid #1CB0F6;
    color: var(--color-text-primary);
    box-sizing: border-box;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 0.2rem;

}



/* phone */

@media (max-width: 48em) {
    .browse-list{
        display:flex;
        flex-direction: column;
    }
    .browse-list__header {
        padding: 1rem;
        flex-direction: column;
        gap: 0.5rem;
    }
    .browse-list__title {
    font-size: 1.33rem;}

    .browse-list__path svg {
        font-size: 1rem;
    }
    .browse-list__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .browse-list-item {
        width: 7rem;
        height: 3rem;
  

}
    

 
}

    /* .browse-list__header {}
    .browse-list__title {}
    .browse-list__path {}
    .browse-list__path :hover {}
    .browse-list__path svg {}
    .browse-list__items {}
    .browse-list-item {} */



    


