.browse-list__header {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.browse-list__title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: var(--color-text-primary);
}

.browse-list__path {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-primary);
}

.browse-list__path :hover {
    color:#1CB0F6;
}
.browse-list__path svg {
    font-size: 1.2rem;
}

.browse-list__title--first-letter {
    color: #1CB0F6;
}

.browse-list__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 50rem;
    margin: 0 auto;
}

.browse-list-item {
    width: 8.125rem;
    height: 3.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.6px solid #1CB0F6;
    color: var(--color-text-primary);
    box-sizing: border-box;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 0.2rem;

}


.desktop-title {
  display: block;
}

.mobile-title {
  display: none;
}

.house__icon{
    cursor: not-allowed;
}
.breadcrumbs{
    display :flex;
    justify-content : center;
    align-items :center ;
}
.browse-list__path{
    display :flex;
    align-items :center ;
}

.error{
    color : #777777;
    display : flex;
    justify-content : center ;
}

@media (max-width: 48em) {

    .browse-list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        padding-bottom: 5rem; 
        padding-top:0px;
    }
    .browse-list__header {
        padding: 0.5rem 1rem;
        flex-direction: column;
        gap: 0.5rem;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: white; 
        z-index: 50; 
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    }
    
    .browse-list__path svg {
        font-size: 1rem;
    }
    .browse-list__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow-y: auto;
        margin-top: 6rem;
        padding-top: 0.5rem;

    }

    .browse-list-item {
        width: 14rem;
        height: 3.625rem;
        font-size: 1.125rem;
    }

    .desktop-title {
        display: none;
    }
    
    .mobile-title {
        display: block;
    }
    
    
     .browse-list .mobile-title {
        display: block;
        font-size: 1.75rem;
    }

    .browse-list__path :hover {
        color: inherit; 
    }
    .browse-list__path :active {
    color:#1CB0F6;
}

.breadcrumbs {
    font-size : 1.5rem ;
}

.house__icon{
    font-size : 1.25 rem ;
}
.chevronRight__icon{
    font-size : 1.25 rem ;
}

}









