.layout{
    display: grid;
    grid-template-columns: 15.625rem 1fr 15.625rem;
    min-height: 100vh;
}

.layout__navbar{
    display:flex;
    justify-content:center;
    border-right: #E5E5E5 0.125rem solid;
   
}

    

.layout_ads{
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(246, 254, 255);
    border-left: #E5E5E5 0.125rem solid;
}

@media (max-width: 48em) {
    .layout_ads{
        display:none;
    }
    .layout{
        display:flex;
        flex-direction:column;
        position: relative;
        min-height: 100vh;
        /* padding-bottom: 1rem; Add space for fixed navbar */
      
    }
    .layout__main{
        display: flex;
        flex-direction: column;
        /* flex: 1; */
        padding-bottom: 3rem;
        
       
    }
    .layout__navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-right: none;
        border-top: #E5E5E5 0.125rem solid;
        background: white;
        z-index: 100;
        height: auto;
    }
}